body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.container{
    width: 700px;
    height: 800px;
    box-shadow: 0px 0px 10px 3px rgb(26, 26, 26);
    border-radius: 20px;
    background-image: url('../img/tlo.png');
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    animation: background-move forwards 15s ease-in-out infinite alternate;
    flex-direction: column;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-color: #14141427;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}
@keyframes background-move {
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
}


.inputs{
    width: 62%;
    height: 50%;
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
}
.heading{
    color: white;
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px black;
}
.input-area input{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    border: none;
    box-shadow: 0px 0px 5px 2px rgb(92, 92, 92);
    padding: 10px;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
    color: rgb(21, 21, 21);
}
.input-area input:focus{
    outline: none;
    filter: drop-shadow(0px 0px 2px rgb(34, 34, 34));
}
.email{
    width: 100%;
}
.email input{
    width: 100%;
}
.checkbox{
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.checkbox input{
    height: 20px;
    width: 20px;
    outline: none;
    margin-left: 10px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: #36383F solid;
}
input[type="checkbox"]:checked{
    border: #36383F solid;
    background-color: #32BA7C;
    background-image: url('../img/checked.png');
    background-size: contain;
}
.buttons{
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons input{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    background-color: transparent;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 0px 5px 0px black;
}
.buttons input:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.password{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
#birth {
    color: #757575;
}
  
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #DBDBDB;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #1CB390;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}